MARTHE OPTIMIZATION CONFIGURATION FILE (11/02/2022 16:21:42)

***
Model name: mona
Model full path: mona.rma
Number of observation data types: 0
Number of observation sets: 0
Number of observations: 0
Number of not null observations: 0
Number of parameters: 80
Number of parameters blocks: 2
Parameter files directory: par
Parameter templates directory: tpl
***

[START_PARAM]
parname= pump_87_15
type= list
class= MarthePump
property name= aqpump
keys= boundname	layer	istep
value_col= value
trans= lambda x: np.log10(-x + 1)
btrans= lambda x: - np.power(10, x) + 1
parfile= par\pump_87_15.dat
[END_PARAM]

[START_PARAM]
parname= pump_105_15
type= list
class= MarthePump
property name= aqpump
keys= boundname	layer	istep
value_col= value
trans= none
btrans= none
parfile= par\pump_105_15.dat
[END_PARAM]


[START_OBS]

[END_OBS]
