MARTHE OPTIMIZATION CONFIGURATION FILE (09/02/2022 15:02:39)

***
Model name: mona
Model full path: monav3_pm\mona.rma
Number of observation data types: 2
Number of observation sets: 20
Number of observations: 800
Number of not null observations: 800
Number of parameters: 80
Number of parameters blocks: 2
Parameter files directory: monav3_pm\par
Parameter templates directory: monav3_pm\tpl
***

[START_PARAM]
parname= pump_87_15
type= list
class= MarthePump
property name= aqpump
keys= boundname	layer	istep
optname= value
trans= lambda x: np.log10(-x + 1)
btrans= lambda x: - np.power(10, x) + 1
parfile= monav3_pm\par\pump_87_15.dat
[END_PARAM]

[START_PARAM]
parname= pump_105_15
type= list
class= MarthePump
property name= aqpump
keys= boundname	layer	istep
optname= value
trans= none
btrans= none
parfile= monav3_pm\par\pump_105_15.dat
[END_PARAM]


[START_OBS]
07065X0002, head, log10
07074X0014, head, log10
07077X0023, head, log10
07095X0117, head, log10
07097X0067, head, log10
07294X0002, head, log10
07294X0012, head, log10
07294X0029, head, log10
07298X0001, head, log10
07298X0004, head, log10
07065X0002mnfluc, headmnfluc, none
07074X0014mnfluc, headmnfluc, none
07077X0023mnfluc, headmnfluc, none
07095X0117mnfluc, headmnfluc, none
07097X0067mnfluc, headmnfluc, none
07294X0002mnfluc, headmnfluc, none
07294X0012mnfluc, headmnfluc, none
07294X0029mnfluc, headmnfluc, none
07298X0001mnfluc, headmnfluc, none
07298X0004mnfluc, headmnfluc, none
[END_OBS]
